body {
    background: white;
}

div#topcontainer {
    display: flex;
    height: fit-content;
}

div#navbar {
    background-color: rgb(220, 220, 220);

    margin-left: 80px;
    margin-top: 140px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;

    text-align: center;

    width:fit-content;
    height: 19px;
}

#navbar a {
    background-color: aliceblue;

    margin-left: 6px;
    margin-right: 6px;
    margin-top: auto;

    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Trebuchet MS';
    font-size: 16px;

}

img#octocat {
    width: 200px;
    height: 200px;
    margin-top: 0%;
    margin-bottom: 0%;
}
