body {
    background: white;
    user-select: none;
    display: flex;
    flex-direction: column;
}

div#topcontainer {
    display: flex;
    flex-direction: row;
}


body div#navbar {
    background-color: rgb(220, 220, 220);

    float: left;

    margin-top: 120px;
    margin-left: 40px;
    margin-right: 25%;

    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 14px;

    text-align: center;

    user-select: none;

    width: 680px;
    height: 20px;

}

#navbar a {
    background-color: aliceblue;

    margin-right: 12px;
    margin-left: 12px;

    border-radius: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 3px;

    font-family: 'Trebuchet MS';

    cursor: default;
    user-select: none;

}

#navbar a:hover {
    color: cornflowerblue;

}

img#octocat {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 0%;
    margin-bottom: 0%;
    user-select: none;
}

html {
    zoom: 120%;
}

